#container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(50, 10px);
    grid-template-rows: repeat(50, 10px);
    gap: 1px;
    background-color: #ddd;
}

.cell {
    width: 10px;
    height: 10px;
    background-color: #fff;
    border: 1px solid #bbb;
}
.cell:hover{
    background-color: #bbb;
}

button {
    margin: 10px;
    background-color: #fff;
    color: black;
    border: 2px solid #008CBA;
    transition-duration: 0.4s;
    cursor: pointer;
}

button:hover{
    background-color: #008CBA; 
    color: white;
}
